<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ifsul_progmov1_acts_s4_2022">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IFSul_ProgMov1_Acts_S42022">
        <activity
            android:name=".Actividad8"
            android:exported="false" />
        <activity
            android:name=".Actividad7_ListaEstudiantes"
            android:exported="false" />
        <activity
            android:name=".Actividad7"
            android:exported="false" />
        <activity
            android:name=".Actividad6_Parte3"
            android:exported="false" />
        <activity
            android:name=".Actividad6_Parte2"
            android:exported="false" />
        <activity
            android:name=".Actividad6_Parte1"
            android:exported="false" />
        <activity
            android:name=".Actividad6"
            android:exported="false" />
        <activity
            android:name=".Actividad5_2"
            android:exported="false" />
        <activity
            android:name=".Actividad5_1_L3"
            android:exported="false" />
        <activity
            android:name=".Actividad5_1_L2"
            android:exported="false" />
        <activity
            android:name=".Actividad5_1_L1"
            android:exported="false" />
        <activity
            android:name=".Actividad5_1"
            android:exported="false" />
        <activity
            android:name=".act2_2_getval"
            android:exported="false" />
        <activity
            android:name=".Actividad4_2"
            android:exported="false" />
        <activity
            android:name=".Actividad4_1"
            android:exported="false" />
        <activity
            android:name=".act2_2_base"
            android:exported="false" />
        <activity
            android:name=".act2_login_success"
            android:exported="false" />
        <activity
            android:name=".Actividad_2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>